<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div class="App-header-success">
        <div class="Form-div">
            <h3 class = "Header">CBC Charges = ${{CBC}}</h3>
            <h3 class = "Header">Platelet Count Charges = ${{Platelet}}</h3>
            <h3 class = "Header">Bilirubin charges = ${{Bilirubin}}</h3>
            <h2 class = "Header">Total Amount<span class = "h2-span">(Including GST)</span> = ${{Final}}</h2>
        </div>
    </div>
</body>
{{>Footer}}
</html>