<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div class="App-header-success">
        <div class="Form-div">
            <h1 class="Header">Your Response is Saved Successfully</h1>
            <a href="/BloodDetails" class="anchor">Click Here To Print Invoice On Screen </a>
        </div>
    </div>
</body>
{{>Footer}}

</html>