:root{
    margin: 0;
    padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.App-header {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-success {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(102, 255, 0));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.Header{
  color: #282c34;
  font-weight: bold;
  text-transform: capitalize;
}

  .Form-div{
    padding:2rem ;
    background-color: rgb(224, 224, 223);
    border-radius: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.h2-span{
  font-size: 1rem;
}
  .Form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  
  input[type=text]{
    border : none;
    border-radius: 2rem 2rem;
    padding: 1rem;
    border-bottom: 0.1rem solid black ;
    margin-top: 2rem;
    width: 100%;
    font-weight: bold;
  }
  
  input[type=submit] {
    border : none;
    border-radius: 2rem 2rem;
    padding: 1rem;
    border-bottom: 0.1rem solid rgb(0, 0, 0) ;
    margin-top: 2rem;
    width: 100%;
    background-color: red;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Footer{
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: #282c34;
    color: aliceblue;
  }
  